@import 'variables';

.container {
    margin: 80px auto 40px;
    width: 664px;
    @include mq(md) {
        margin: 80px 10%;
        width: 80%;
    }
    @include mq(sm) {
        margin: 104px 5%;
        width: 90%;
    }
}

.search-select {
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 18px;
    &__set {
        line-height: 56px;
        flex: 1;
        border-bottom: 2px solid $mainColor;
        color: $mainColor;
    }
    &__none {
        line-height: 56px;
        flex: 1;
        border-bottom: 2px solid $glayColor;
        color: $glayColor;
    }
}

.search-bar {
    margin: 56px 40px;
    display: flex;
    &__text {
        width: 75%;
    }
    &__button {
        width: 19%;
        margin: auto 3%;
    }
}

.user-card {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 8px 32px 32px 32px;
    &__first-line {
        display: flex;
        &--infomation {
            flex: 3;
        }
        &--follow {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }
}
