@import 'variables';

.contributor-infomation {
    display: flex;
    align-items: center;
    height: 120px;
    &__avatar {
        width: 72px;
        height: 72px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 24px;
    }

    &__data {
        color: $extraColor;
    }
}
